@page "/Blog2"

@using Blogger.Models
@using System.Linq
@using Microsoft.EntityFrameworkCore
@inject BlogDbContext BlogDbContext
<h3>部落格文章</h3>

<!-- #region 瀏覽所有紀錄 -->
<div class="my-3">
    @*透過 Blazor 的資料綁定，將新增按鈕的點選事件，綁定到 C# 的委派處理方法*@
    <input type="button" class="btn btn-primary" @onclick="OnAdd" value="新增" />
</div>

@*列出資料庫內 BlogPost 資料表內的紀錄*@
<table class="table">
    <thead>
        <tr>
            <th>文章</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @*列出集合清單中的每一筆紀錄到 HTML Table 內*@
        @foreach (var postItem in BlogPosts)
        {
            <tr>
                @*透過資料綁定，把集合清單內的紀錄屬性，顯示在網頁上*@
                <td>@postItem.Title</td>
                <td>
                    @*透過 Blazor 的資料綁定，將修改按鈕的點選事件，綁定到 C# 的委派處理方法*@
                    @*當該修改按鈕點選事件被觸發的時候，將會把現在顯示的紀錄物件傳送過去*@
                    <input type="button" class="btn btn-primary" value="修改"
                           @onclick="()=>OnEdit(postItem)" />
                </td>
                <td>
                    @*透過 Blazor 的資料綁定，將刪除按鈕的點選事件，綁定到 C# 的委派處理方法*@
                    <input type="button" class="btn btn-danger" value="刪除"
                           @onclick="async ()=>OnShowDeleteConfirm(postItem)" />
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- #endregion -->
@*由 C# 的變數 ShowPopup 來控制，這裡的 HTML 標記是否要顯示出來，這裡完全不需要使用到 JavaScript 或者 jQuery*@
@if (ShowEditRecord)
{
    #region 修改當前紀錄的 UI
    //這裡是 BootStrap 的標準對話窗標記宣告
    <div class="modal" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document" style="max-width: 80vw">
            <div class="modal-content">
                <EditForm Model="@CurrentBlogPost"
                          OnValidSubmit="@HandleValidSubmitAsync">
                    <div class="modal-header">
                        <h5 class="modal-title">@IsAddRecordName 紀錄</h5>
                        @*這裡將會宣告一個按鈕，點選這個按鈕，將會關閉此對話窗*@
                        <button type="button" class="close" @onclick="OnCalcelEditRecord">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*資料批註驗證程式*@
                        <DataAnnotationsValidator />
                        @*驗證摘要和驗證訊息元件*@
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="taskName">文章主題</label>
                            <InputText class="form-control" @bind-Value="@CurrentBlogPost.Title" />
                        </div>
                        <div class="form-group">
                            <label for="taskName">文章內容</label>
                            <InputTextArea class="form-control" @bind-Value="@CurrentBlogPost.Text" rows="6" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="">
                            <button type="submit" class="btn btn-primary mr-2">儲存</button>
                            <button class="btn btn-secondary" @onclick="OnCalcelEditRecord"> 取消 </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
    //顯示對話窗的半透明背景遮罩
    <div class="modal-backdrop fade show"></div>
    #endregion
}

@if (ShowConfirmDeleteRecord)
{
    <!-- #region 確認是否刪除對話窗 -->
    //這裡是 BootStrap 的標準對話窗標記宣告
    <div class="modal" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document" style="max-width: 80vw">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">警告</h5>
                    @*這裡將會宣告一個按鈕，點選這個按鈕，將會關閉此對話窗*@
                    <button type="button" class="close" @onclick="OnCalcelConfirm">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="h3">
                        請確認是否要刪除這筆紀錄
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="">
                        <button class="btn btn-danger mr-2" @onclick="OnOkConfirmAsync">確認</button>
                        <button class="btn btn-secondary" @onclick="OnCalcelConfirm"> 取消 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //顯示對話窗的半透明背景遮罩
    <div class="modal-backdrop fade show"></div>
    <!-- #endregion -->
}

@code {
    /// <summary>
    /// 要顯示在畫面上的集合紀錄
    /// </summary>
    public List<BlogPost> BlogPosts { get; set; } = new List<BlogPost>();
    /// <summary>
    /// 現在正在新增或者修改和刪除的當前紀錄
    /// </summary>
    public BlogPost CurrentBlogPost { get; set; } = new BlogPost();
    /// <summary>
    /// 是否顯示編輯當前紀錄的 UI
    /// </summary>
    public bool ShowEditRecord { get; set; } = false;
    /// <summary>
    /// 是否顯示確認是否要刪除的對話窗
    /// </summary>
    public bool ShowConfirmDeleteRecord { get; set; } = false;
    /// <summary>
    /// 現在操作屬於 新增 還是 修改
    /// </summary>
    public bool IsAddRecord { get; set; } = false;
    /// <summary>
    /// 對於當前紀錄的操作，是否已經取消
    /// </summary>
    public bool IsCancleRecord { get; set; } = false;
    /// <summary>
    /// 得到現在是新增或者修改模式的說明文字
    /// </summary>
    public string IsAddRecordName
    {
        get
        {
            if (IsAddRecord) return "新增";
            else return "修改";
        }
    }

    #region 元件生命週期事件
    protected override async Task OnInitializedAsync()
    {
        await Reload();
    }
    #endregion

    #region 讀取資料庫內的紀錄
    async Task Reload()
    {
        BlogPosts = await BlogDbContext.BlogPost
        .ToListAsync();
    }
    #endregion

    #region UI 綁定事件委派方法
    void OnAdd()
    {
        CurrentBlogPost = new BlogPost();
        IsAddRecord = true;
        ShowEditRecord = true;
        IsCancleRecord = false;
    }

    void OnEdit(BlogPost postItem)
    {
        #region 複製要修該物件的值
        CurrentBlogPost.Id = postItem.Id;
        CurrentBlogPost.Title = postItem.Title;
        CurrentBlogPost.Text = postItem.Text;

        CurrentBlogPost.Category = postItem.Category;
        CurrentBlogPost.PublishDate = postItem.PublishDate;
        CurrentBlogPost.Tag = postItem.Tag;
        #endregion

        IsAddRecord = false;
        ShowEditRecord = true;
        IsCancleRecord = false;
    }

    void OnCalcelEditRecord()
    {
        ShowEditRecord = false;
        IsCancleRecord = true;
    }

    void OnShowDeleteConfirm(BlogPost postItem)
    {
        CurrentBlogPost = postItem;
        ShowConfirmDeleteRecord = true;
        return;
    }

    async Task HandleValidSubmitAsync()
    {
        if (IsCancleRecord == true)
        {
            IsCancleRecord = false;
            return;
        }
        if (IsAddRecord == true)
        {
            await BlogDbContext.BlogPost
                .AddAsync(CurrentBlogPost);
            await BlogDbContext.SaveChangesAsync();
            await Reload();
        }
        else
        {
            BlogDbContext.ChangeTracker.Clear();
            BlogDbContext.BlogPost.Update(CurrentBlogPost);
            await BlogDbContext.SaveChangesAsync();
            await Reload();
        }
        ShowEditRecord = false;
    }
    #endregion

    #region 刪除確認對話窗的方法
    void OnCalcelConfirm()
    {
        ShowConfirmDeleteRecord = false;
    }
    async Task OnOkConfirmAsync()
    {
        ShowConfirmDeleteRecord = false;
        BlogDbContext.ChangeTracker.Clear();
        BlogDbContext.BlogPost
        .Remove(CurrentBlogPost);
        await BlogDbContext.SaveChangesAsync();
        await Reload();
    }
    #endregion
}
