@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations

@inject AuditMasterViewModel ViewModel
@implements IRazorPage
@implements IDataGrid

<div>
    <SfGrid @ref="Grid" TValue="AuditMasterAdapterModel"
            AllowPaging="true" class="parentFullWidth"
            Toolbar="ViewModel.Toolbaritems">
        <SfDataManager Adaptor="Adaptors.CustomAdaptor">
            <AuditMasterAdapter CurrentSortCondition="@ViewModel.CurrentSortCondition"></AuditMasterAdapter>
        </SfDataManager>
        <SfToolbar>
            <ToolbarItems>
                <ToolbarItem Type="ItemType.Input">
                    <Template>
                        <span class="mx-2 mdi mdi-18px mdi-sort-variant" />
                        <SfDropDownList TValue="int" TItem="SortCondition"
                                        Placeholder="選擇排序條件" DataSource="@ViewModel.SortConditions">
                            <DropDownListFieldSettings Value="Id" Text="Title"></DropDownListFieldSettings>
                            <DropDownListEvents TValue="int" TItem="SortCondition" ValueChange="@ViewModel.SortChanged"></DropDownListEvents>
                        </SfDropDownList>
                    </Template>
                </ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
        <GridEvents CommandClicked="ViewModel.OnCommandClicked" TValue="AuditMasterAdapterModel"
                    OnToolbarClick="ViewModel.ToolbarClickHandler" />
        <GridPageSettings PageSize="@PageSize" />
        <GridColumns>
            <GridColumn Field=@nameof(AuditMasterAdapterModel.Title)
                        HeaderText="主旨" Width="250" />
            <GridColumn Field=@nameof(AuditMasterAdapterModel.CreateDate)
                        HeaderText="建立時間" Format="yyyy-MM-dd HH:mm:ss"
                        HideAtMedia="(min-width: 640px)" />
            <GridColumn Field=@nameof(AuditMasterAdapterModel.MyUserName)
                        HeaderText="建立者" Format="yyyy-MM-dd"
                        HideAtMedia="(min-width: 640px)" />
            <GridColumn Field=@nameof(AuditMasterAdapterModel.PolicyHeaderName)
                        HeaderText="簽核政策" Format="yyyy-MM-dd"
                        HideAtMedia="(min-width: 640px)" />
            <GridColumn HeaderText="命令" Width="200" TextAlign="@TextAlign.Center">
                <GridCommandColumns>
                    <GridCommandColumn Title="@ButtonIdHelper.ButtonNameShowAuditHistory"
                                       ButtonOption="@(new CommandButtonOptions()
                                                       { Content = "", IconCss = @ButtonIdHelper.ButtonIdShowAuditHistory})" />
                    <GridCommandColumn Title="@ButtonIdHelper.ButtonNameShowAuditUser"
                                       ButtonOption="@(new CommandButtonOptions()
                                                       { Content = "", IconCss = @ButtonIdHelper.ButtonIdShowAuditUser})" />
                    <GridCommandColumn Title="@ButtonIdHelper.ButtonNameEdit"
                                       ButtonOption="@(new CommandButtonOptions()
                                                   { Content = "", IconCss = @ButtonIdHelper.ButtonIdEdit})" />
                    <GridCommandColumn Title="@ButtonIdHelper.ButtonNameDelete"
                                       ButtonOption="@(new CommandButtonOptions()
                                                   { Content = "", IconCss = ButtonIdHelper.ButtonIdDelete})" />
                </GridCommandColumns>
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>

<SfDialog @bind-Visible="@ViewModel.IsShowEditRecord" IsModal="true"
          Width="95%" Height="100%" CssClass="dialogSize">
    <DialogTemplates>
        <Header>@ViewModel.EditRecordDialogTitle</Header>
        <Content>
            <EditForm Model="@ViewModel.CurrentRecord">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputWatcher EditContextActionChanged="@ViewModel.OnEditContestChanged" />

                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">主旨</label>
                            <SfTextBox @bind-Value="ViewModel.CurrentRecord.Title"
                                       Placeholder="請輸主旨名稱" />
                            <ValidationMessage For="@(() => ViewModel.CurrentRecord.Title)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">說明</label>
                            <SfTextBox @bind-Value="ViewModel.CurrentRecord.Content"
                                       Placeholder="請輸說明內容" Multiline="true" />
                            <ValidationMessage For="@(() => ViewModel.CurrentRecord.Content)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">建立時間</label>
                            <SfDateTimePicker TValue="DateTime"
                                              @bind-Value="ViewModel.CurrentRecord.CreateDate"
                                              Format="yyyy-MM-dd hh:mm:ss"
                                              Placeholder="請選擇一個日期、時間" />
                            <ValidationMessage For="@(() => ViewModel.CurrentRecord.CreateDate)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">
                                建立者
                                <span class="mdi mdi-24px mdi-magnify"
                                      @onclick="ViewModel.OnOpenPicker"></span>
                            </label>
                            <SfTextBox Value="@ViewModel.CurrentRecord.MyUserName"
                                       Enabled="false"></SfTextBox>
                            <ValidationMessage For="@(() => ViewModel.CurrentRecord.MyUserName)" />
                        </div>
                    </div>

                    @if (ViewModel.IsNewRecordMode == true)
                    {
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label">
                                    簽核政策
                                    <span class="mdi mdi-24px mdi-magnify"
                                          @onclick="ViewModel.OnOpenPolicyPicker"></span>
                                </label>
                                <SfTextBox Value="@ViewModel.CurrentRecord.PolicyHeaderName"
                                           Enabled="false"></SfTextBox>
                                <ValidationMessage For="@(() => ViewModel.CurrentRecord.PolicyHeaderName)" />
                            </div>
                        </div>
                    }

                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div>
                <button type="submit" class="btn btn-primary" @onclick="ViewModel.OnRecordEditConfirm">儲存</button>
                <button class="btn btn-secondary" @onclick="ViewModel.OnRecordEditCancel">取消</button>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<SfDialog @bind-Visible="@ViewModel.IsShowMoreDetailsRecord" IsModal="true"
          Width="95%" Height="100%" CssClass="dialogSize">
    <DialogTemplates>
        <Header>@ViewModel.ShowMoreDetailsRecordDialogTitle</Header>
        <Content>
            <OrderItemView @ref="ViewModel.ShowMoreDetailsGrid" PageSize="@MagicHelper.GridPageSize"
                           Header="ViewModel.Header" />
        </Content>
        <FooterTemplate>
            <div>
                <button class="btn btn-secondary" @onclick="()=> { ViewModel.IsShowMoreDetailsRecord = false; }">關閉</button>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<MyUserPicker OpenPicker="ViewModel.ShowAontherRecordPicker"
              OnConfirmCallback="x=>ViewModel.OnPickerCompletion(x)" />

<PolicyHeaderPicker OpenPicker="ViewModel.ShowPolicyRecordPicker"
                    OnConfirmCallback="x=>ViewModel.OnPickerPolicyCompletion(x)" />


<MessageBox Height="@ViewModel.MessageBox.Height" Width="@ViewModel.MessageBox.Width"
            IsVisible="@ViewModel.MessageBox.IsVisible"
            Title="@ViewModel.MessageBox.Title" Message="@ViewModel.MessageBox.Body"
            Callback="x=>ViewModel.MessageBox.Hidden()" />

<ConfirmBox Height="@ViewModel.ConfirmMessageBox.Height" Width="@ViewModel.ConfirmMessageBox.Width"
            IsVisible="@ViewModel.ConfirmMessageBox.IsVisible"
            Title="@ViewModel.ConfirmMessageBox.Title" Message="@ViewModel.ConfirmMessageBox.Body"
            Callback="x=>ViewModel.RemoveThisRecord(x)" />

<DialogBackground />

@code{
    SfGrid<AuditMasterAdapterModel> Grid;
    [Parameter]
    public int PageSize { get; set; } = 15;
    [Parameter]
    public EventCallback<MasterRecord> OnRecordChanged { get; set; }
    [Parameter]
    public EventCallback<object> OnViewRender { get; set; }

    #region 生命週期事件
    protected override void OnInitialized()
    {
        ViewModel.Setup(this, this);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == true)
        {
            ViewModel.Setup(this, this);
        }
        if (OnViewRender.HasDelegate)
        {
            await OnViewRender.InvokeAsync(null);
        }
    }
    #endregion

    #region 頁面需要介面實作
    public void NeedRefresh()
    {
        StateHasChanged();
    }
    public async Task NeedInvokeAsync(System.Action action)
    {
        await InvokeAsync(action);
    }
    public void RefreshGrid()
    {
        Grid?.Refresh();
    }
    public bool GridIsExist()
    {
        return Grid == null ? false : true;
    }
    public Task InvokeGridAsync(string actionName)
    {
        return Task.CompletedTask;
    }
    #endregion
}
