@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations

@inject OrderItemRazorModel RazorModel
@implements IRazorPage
@implements IDataGrid

<SfGrid @ref="Grid" TValue="OrderItemAdapterModel"
        AllowPaging="true"
        Toolbar="RazorModel.Toolbaritems">
    <SfDataManager Adaptor="Adaptors.CustomAdaptor">
        <OrderItemAdapter CurrentSortCondition="@RazorModel.CurrentSortCondition"
                          HeaderID="@RazorModel.Header.Id"></OrderItemAdapter>
    </SfDataManager>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Input">
                <Template>
                    <span class="mx-2 mdi mdi-18px mdi-sort-variant" />
                    <SfDropDownList TValue="int" TItem="SortCondition"
                                    Placeholder="選擇排序條件" DataSource="@RazorModel.SortConditions">
                        <DropDownListFieldSettings Value="Id" Text="Title"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="int" TItem="SortCondition" ValueChange="@RazorModel.SortChanged"></DropDownListEvents>
                    </SfDropDownList>
                </Template>
            </ToolbarItem>
        </ToolbarItems>
    </SfToolbar>
    <GridEvents CommandClicked="RazorModel.OnCommandClicked" TValue="OrderItemAdapterModel"
                OnToolbarClick="RazorModel.ToolbarClickHandler"
                RowSelected="RowSelectHandler" RowDeselected="RowDeselectHandler" />
    <GridPageSettings PageSize="@PageSize" />
    <GridColumns>
        <GridColumn Field=@nameof(OrderItemAdapterModel.Name) HeaderText="名稱" />
        <GridColumn Field=@nameof(OrderItemAdapterModel.ProductName) HeaderText="商品名稱" />
        <GridColumn Field=@nameof(OrderItemAdapterModel.Quantity) HeaderText="數量" Width="80" />
        <GridColumn Field=@nameof(OrderItemAdapterModel.Discount) HeaderText="折扣" Width="120" />
        <GridColumn Field=@nameof(OrderItemAdapterModel.ListPrice) HeaderText="售價" Width="150" />
        <GridColumn HeaderText="命令" Width="110" TextAlign="@TextAlign.Center">
            <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions()
                                                   { Content = "", IconCss = @ButtonIdHelper.ButtonIdEdit})" />
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions()
                                                   { Content = "", IconCss = ButtonIdHelper.ButtonIdDelete})" />
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog @bind-Visible="@RazorModel.IsShowEditRecord" IsModal="true"
          Width="600px" Height="600px">
    <DialogTemplates>
        <Header>@RazorModel.EditRecordDialogTitle</Header>
        <Content>
            <EditForm Model="@RazorModel.CurrentRecord">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputWatcher EditContextActionChanged="@RazorModel.OnEditContestChanged" />

                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">名稱</label>
                            <SfTextBox @bind-Value="RazorModel.CurrentRecord.Name"
                                       Placeholder="請輸入該訂單項目的商品名稱" />
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.Name)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">產品 <span class="mdi mdi-18px mdi-magnify" @onclick="RazorModel.OnOpenPicker"></span></label>
                            <SfTextBox Value="@RazorModel.CurrentRecord.ProductName" Enabled="false"></SfTextBox>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">數量</label>
                            <SfNumericTextBox @bind-Value="RazorModel.CurrentRecord.Quantity"
                                              Placeholder="請輸入大於0的整數數值" />
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.Quantity)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">折扣</label>
                            <SfNumericTextBox @bind-Value="RazorModel.CurrentRecord.Discount"
                                              Placeholder="請輸入大於0的整數數值" />
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.Discount)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">售價</label>
                            <SfNumericTextBox @bind-Value="RazorModel.CurrentRecord.ListPrice"
                                              Placeholder="請輸入大於0的整數數值" />
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.ListPrice)" />
                        </div>
                    </div>

                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div>
                <button type="submit" class="btn btn-primary" @onclick="RazorModel.OnRecordEditConfirm">儲存</button>
                <button class="btn btn-secondary" @onclick="RazorModel.OnRecordEditCancel">取消</button>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<ProductPicker OpenPicker="RazorModel.ShowAontherRecordPicker"
               OnConfirmCallback="x=>RazorModel.OnPickerCompletion(x)" />

<MessageBox Height="@RazorModel.MessageBox.Height" Width="@RazorModel.MessageBox.Width"
            IsVisible="@RazorModel.MessageBox.IsVisible"
            Title="@RazorModel.MessageBox.Title" Message="@RazorModel.MessageBox.Body"
            Callback="x=>RazorModel.MessageBox.Hidden()" />

<ConfirmBox Height="@RazorModel.ConfirmMessageBox.Height" Width="@RazorModel.ConfirmMessageBox.Width"
            IsVisible="@RazorModel.ConfirmMessageBox.IsVisible"
            Title="@RazorModel.ConfirmMessageBox.Title" Message="@RazorModel.ConfirmMessageBox.Body"
            Callback="x=>RazorModel.RemoveThisRecord(x)" />

<DialogBackground />

@code{
    SfGrid<OrderItemAdapterModel> Grid;
    [Parameter]
    public MasterRecord Header { get; set; } = new MasterRecord();
    [Parameter]
    public int PageSize { get; set; } = 15;
    [Parameter]
    public EventCallback<MasterRecord> OnRecordChanged { get; set; }
    [Parameter]
    public EventCallback<object> OnViewRender { get; set; }

    #region 生命週期事件
    protected override void OnInitialized()
    {
        RazorModel.Setup(this, this);
    }
    protected override void OnParametersSet()
    {
        if (Header != null)
        {
            RazorModel.Header = Header;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == true)
        {
            RazorModel.Setup(this, this);
        }
        if (OnViewRender.HasDelegate)
        {
            await OnViewRender.InvokeAsync(null);
        }
    }
    #endregion

    #region 頁面需要介面實作
    public void NeedRefresh()
    {
        StateHasChanged();
    }
    public async Task NeedInvokeAsync(System.Action action)
    {
        await InvokeAsync(action);
    }
    public void RefreshGrid()
    {
        Grid?.Refresh();
    }
    public bool GridIsExist()
    {
        return Grid == null ? false : true;
    }
    public Task InvokeGridAsync(string actionName)
    {
        return Task.CompletedTask;
    }
    #endregion


    #region 選取紀錄異動的事件處理
    public async Task RowSelectHandler(RowSelectEventArgs<OrderItemAdapterModel> args)
    {
        if (OnRecordChanged.HasDelegate)
        {
            await OnRecordChanged.InvokeAsync(new MasterRecord()
            {
                Id = args.Data.Id,
                Title = MagicHelper.確認有表頭預設文字
            });
        }
    }
    public async Task RowDeselectHandler(RowDeselectEventArgs<OrderItemAdapterModel> args)
    {
        if (OnRecordChanged.HasDelegate)
        {
            await OnRecordChanged.InvokeAsync(new MasterRecord()
            {
                Id = -2,
                Title = "",
            });
        }
    }
    #endregion
}
