@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs

<SfDialog @bind-Visible="@OpenPicker" IsModal="true"
          Width="95%" Height="100%" CssClass="dialogSize">
    <DialogTemplates>
        <Header>@DialogTitle</Header>
        <Content>
            <div class="m-2">
                <div class="card">
                    <div class="card-header">
                        送審單據紀錄明細
                    </div>
                    <div class="card-body">
                        <label>代碼</label>
                        <div class="mb-2">@CurrentRecord.Code</div>
                        <label>主旨</label>
                        <div class="mb-2">@CurrentRecord.Title</div>
                        <label>說明</label>
                        <div class="mb-2">@CurrentRecord.Content</div>
                        <label>建立時間</label>
                        <div class="mb-2">@CurrentRecord.CreateDate</div>
                        <label>建立者</label>
                        <div class="mb-2">@CurrentRecord.MyUserName</div>
                        <label>簽核政策</label>
                        <div class="mb-2">@CurrentRecord.PolicyHeaderName</div>
                        <label>狀態</label>
                        <div class="mb-2">@CurrentRecord.StatusName</div>
                    </div>

                </div>
            </div>
        </Content>
        <FooterTemplate>
            <button @onclick="@OnPickerCancel" class='btn btn-secondary'>關閉</button>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<DialogBackground />

@code{
    [Parameter]
    public bool OpenPicker { get; set; }
    [Parameter]
    public FlowMasterAdapterModel CurrentRecord { get; set; }
    [Parameter]
    public EventCallback<FlowMasterAdapterModel> OnCloseCallback { get; set; }
    string DialogTitle = "簽核明細資訊";

    protected override void OnInitialized()
    {
    }

    public void ShowDialog()
    {
        OpenPicker = true;
    }

    async Task OnPickerCancel()
    {
        await OnCloseCallback.InvokeAsync(CurrentRecord);
    }
}
