@using Syncfusion.Blazor.Popups

<SfDialog @bind-Visible="@IsVisible" Height="@Height" Width="@Width" ShowCloseIcon="false" IsModal="true">
    <DialogTemplates>
        <Header>@Title</Header>
        <Content>@Message</Content>
        <FooterTemplate>
            <div>
                <button @onclick="@OnOKBtnclick" class='btn btn-danger'>確定</button>
                <button @onclick="@OnCancelBtnclick" class='btn btn-primary'>取消</button>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<DialogBackground />

@code{
    [Parameter]
    public bool IsVisible { get; set; } = false;
    [Parameter]
    public string Height { get; set; } = "250px";
    [Parameter]
    public string Width { get; set; } = "435px";
    [Parameter]
    public string Title { get; set; } = "通知訊息";
    [Parameter]
    public string Message { get; set; } = "訊息內容";
    [Parameter]
    public EventCallback<bool> Callback { get; set; }
    public async Task OnOKBtnclick()
    {
        await CallCallBack(true);
    }
    public async Task OnCancelBtnclick()
    {
        await CallCallBack(false);
    }

    public async Task CallCallBack(bool action)
    {
        if (Callback.HasDelegate)
            await Callback.InvokeAsync(action);
    }
}
